<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>テスト結果</title>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<th>ページ名称</th>
					<td>${pageName}</td>
				</tr>
				<tr>
					<th>チェックID</th>
					<td>${group}-${seq}</td>
				</tr>
				<tr>
					<th>ページクラス</th>
					<td>${pageClass}</td>
				</tr>
				<tr>
					<th>テスト条件</th>
					<td>${condition}</td>
				</tr>
				<tr>
					<th>期待値</th>
					<td>${expected}</td>
				</tr>
				<tr>
					<th>テスト日時</th>
					<td>${testDate}</td>
				</tr>
				<tr>
					<th>テスト結果</th>
					<td>${result}</td>
				</tr>
				<tr>
					<th colspan="2">添付ファイル</th>
				</tr>
				<tr>
					<td colspan="2">${attachFiles}</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>