<!DOCTYPE html>
	<html>
		<head>
		<meta charset="UTF-8">
		<title>TestResult</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script type="module">
		/**
		 * テスト結果操作クラス。
		 */
		class TestResult {
			#testResult = 
// ### testResult begin
${resultList}
// ### testResult end
			/**
			 * テスト項目リストを表示する。
			 */
			#showTestItemList() {
				let no = 1;
				let row = "";
				for (let i = 0; i < this.#testResult.testItemList.length; i++) {
					let item = this.#testResult.testItemList[i];
					row += "<tr class='" + item.result + "'>";
					row += "<td>" + (no++) + "</td>";
					row += "<td>" + item.testType + "</td>";
					row += "<td>" + item.compClass + "</td>";
					row += "<td><a href='" + item.link +  "'>" + item.testId + "</a></td>";
					row += "<td style='width: 400px;'>" + item.condition + "</td>";
					row += "<td style='width: 400px;'>" + item.expected + "</td>";
					row += "<td>" + item.testDate + "</td>";
					row += "<td>" + item.result  + "</td>";
					row += "</tr>";
				}
				$("table#testItemList tbody").html(row);
			}
			
			/**
			 * ページにテスト結果を表示します。
			 */
			showTestResult() {
				$("#pageName").text(this.#testResult.pageName);
				$("#pageClassName").text(this.#testResult.pageClassName);
				this.#showTestItemList();
				
				$(".dispCheckbox").each((_, el) => {
					this.showCheckedResult(el);
				});
			}
			
			/**
			 * checkboxに応じた表示設定。
			 * @param {Element} el HTML要素。 
			 */
			showCheckedResult(el) {
				let ck = $(el).prop("checked");
				let v = $(el).val();
				if (ck) {
					$("tr." + v).show();
				} else {
					$("tr." + v).hide();
				}
			}
		}
			
		$(async () => {
			let r = new TestResult();
			r.showTestResult();
			$(".dispCheckbox").click((ev) => {
				r.showCheckedResult(ev.target);
			});
		});
			
		</script>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<th>ページ名称</th>
					<td id="pageName"></td>
				</tr>
				<tr>
					<th>ページクラス</th>
					<td id="pageClassName"></td>
				</tr>
				<tr>
					<th>表示設定</th>
					<td>
						<input type="checkbox" class="dispCheckbox" id="okItem" value="SYSTEM_OK" checked /><label for="okItem">OK</label>
						<input type="checkbox" class="dispCheckbox" id="ngItem" value="SYSTEM_NG" checked /><label for="ngItem">NG</label>
						<input type="checkbox" class="dispCheckbox" id="userCheckItem" value="USER_CHECK" checked /><label for="userCheckItem">USER CHECK</label>
					</td>
				</tr>
			</tbody>
		</table>
		<table id="testItemList">
			<thead>
				<tr>
					<th>No.</th>
					<th>区分</th>
					<th>コンポーネント</th>
					<th>ID</th>
					<th>テスト条件</th>
					<th>期待値</th>
					<th>テスト日時</th>
					<th>結果</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</body>
</html>
